.headerWrapper{
 width: 100%;
 max-height: 76px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 background-color: #020166;
 color: white;
}
.headerButton{
    padding: 24px;
    color: white;
    user-select: none;
}
.headerButton:hover{
    background-color: #151483;
}
.headerButton.active{
background-color: #94D97E;
color: black;
}
.headerButton.active:hover{
    background-color: #7DC665;
    
}
.headerButtons{
    display: flex;
    gap: 10px;
}