.homepageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.searchInput {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  width: 240px;
}

.pokemonsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  width: 100%;
  justify-items: center;
  margin-bottom: 16px;
}

.loadBtn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #94d97e;
  cursor: pointer;
}

.loadBtn:hover {
  background-color: #7dc665;
}

.loadBtn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #94d97e;
  color: black;
  font-weight: 500;
  cursor: pointer;
  margin-top: 16px;
  transition: all 0.2s ease;
}

.loadBtn:hover {
  background-color: #7dc665;
}
