:root {
  --primary-color: #020166;
  --secondary-color: #94d97e;
  --text-color: #373299;
  --bg-color: #f7f7f9;
}

[data-theme="dark"] {
  --primary-color: #020166;
  --secondary-color: #94d97e;
  --text-color: #fff;
  --bg-color: #121212;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
