.headerWrapper {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  padding: 0 32px;
  box-sizing: border-box;
}

.headerWrapper .logo {
  height: 48px;
}

.headerButtons {
  display: flex;
  gap: 10px;
}

.headerButton {
  position: relative;
  padding: 12px 20px;
  border-radius: 8px;
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.headerButton:hover {
  transform: scale(1.05);
}

.headerButton.active {
  color: black;
  background-color: #94d97e;
}

.themeBtn {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
