.headerWrapper {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative; 
  background-color: #020166;
  color: white;
  padding: 0 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.headerWrapper img {
  height: 48px;
  object-fit: contain;
  position: absolute; 
  left: 32px;
}

.headerButtons {
  display: flex;
  height: 100%;
  align-content: flex-end;
}

.headerButton {
  background-color: transparent;
  color: white;
  aspect-ratio: 1 / 1;
  height: 100%;
  cursor: pointer;
  user-select: none;
  border: none;
}

.headerButton:hover {
  background-color: #151483;
}

.headerButton.active {
  background-color: #94d97e;
  color: black;
}

.headerButton.active:hover {
  background-color: #7dc665;
}
